<span class="file-status" data-test-file-status>
    <span class="file-status__icon-wrapper">
        {{#if this.isAvailable}}
            <svg 
                class="file-status__available-icon"
                fill="currentColor"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
                data-test-file-status-icon>
                <circle cx="50" cy="50" r="50" />
            </svg>
        {{/if}}
    </span>

    <span datat-test-file-status-name>{{this.formattedStatus}}</span>
</span>